src/main/java/proxy/user.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.webservicesoap.sn.esp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.webservicesoap.sn.esp/" name="UserWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.webservicesoap.sn.esp/" schemaLocation="http://localhost:8080/ws/user?xsd=1"/>
</xsd:schema>
</types>
<message name="getAdminToken">
<part name="parameters" element="tns:getAdminToken"/>
</message>
<message name="getAdminTokenResponse">
<part name="parameters" element="tns:getAdminTokenResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<portType name="UserService">
<operation name="getAdminToken">
<input wsam:Action="http://services.webservicesoap.sn.esp/UserService/getAdminTokenRequest" message="tns:getAdminToken"/>
<output wsam:Action="http://services.webservicesoap.sn.esp/UserService/getAdminTokenResponse" message="tns:getAdminTokenResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://services.webservicesoap.sn.esp/UserService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://services.webservicesoap.sn.esp/UserService/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://services.webservicesoap.sn.esp/UserService/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://services.webservicesoap.sn.esp/UserService/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://services.webservicesoap.sn.esp/UserService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://services.webservicesoap.sn.esp/UserService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://services.webservicesoap.sn.esp/UserService/loginRequest" message="tns:login"/>
<output wsam:Action="http://services.webservicesoap.sn.esp/UserService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://services.webservicesoap.sn.esp/UserService/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://services.webservicesoap.sn.esp/UserService/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
</portType>
<binding name="UserServicePortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAdminToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWS">
<port name="UserServicePort" binding="tns:UserServicePortBinding">
<soap:address location="http://localhost:8080/ws/user"/>
</port>
</service>
</definitions>